@charset "utf-8";

html {}

body {}


/* layout */
#row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#container {
  flex: 0 0 80%;
  border-right: 1px solid #6C6C6C;
}

#side-bar {
  flex: 0 0 19%;
}


/* 共通パーツ */

/* ボタン */
.btn {
  display: block;
  font-size: 15px;
  background: #3C4767;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

/* headerアイコン */
.userImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* その他アイコン */
.bigImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: -10px 30px 0 0;
}

/* 改行無効化,文字カラー */
p {
  display: inline;
  color: #6C6C6C;
  font-size: 15px;
}

.font_large {
  font-size: 18px;
}

.btn a {
  color: #fff;
}

/* hrの灰色線 */
.border {
  height: 2px;
  background-color: #EDEDED;
  border: none;
}

.wideBox1 {
  width: 90%;
  margin: 3% 5%;
}

.wrapBox1 {
  display: flex;
  font-size: 15px;
}

.wrapBox2 {
  margin: 0 0 0 80px;
}

.wideBox2 {
  margin: 1% 0;
  padding-left: 80%;
}

/* アップロード時刻の右寄せ */
.deployRight {
  margin-left: auto;
}

.modal-open {
  margin-right: 20px;
}

/* エラー文改行無効化 */
h3 {
  display: inline;
  color: #DE553D;
}



/* header */
header {
  position: relative;
  z-index: 1;
}

.logo {
  display: inline-block;
  margin-left: 50px;
}

#head {
  position: relative;
  /* まずはlogoとuserを横に並べる */
  display: flex;
  height: 80px;
  align-items: center;
  background: #3C4767;
}

#userWrap {
  margin-left: auto;
}

#user {
  /* ここでcontainer123を横並びにする */
  display: flex;
  /* 右に寄せる */
  justify-content: right;
  /* 縦向きに寄せる */
  align-items: center;
  margin-right: 50px;
}

.username {
  color: #fff;
  font-size: 15px;
}


/* グローバルナビゲーション */

/*ナビメニューのスタイルを指定*/
.gnavi {
  position: absolute;
  /*表示位置を指定*/
  top: 80px;
  /*文字色を黒にする*/
  color: #000;
  /*テキストを中央揃え*/
  text-align: center;
  /*全幅表示*/
  width: 20%;
  /*ナビを上に隠す*/
  transform: translateY(-140%);
  /*アニメーションの時間を指定*/
  transition: all 0.6s;
  z-index: -1;
}

.gnavi li {
  background: #fff;
  margin-left: 17%;
  font-size: 1.8rem;
  list-style-type: none;
  width: 100%;
  border: solid 1px #6C6C6C;
  border-top: 0;
  /* これで上の線だけ消す */
}

.gnavi li a {
  display: block;
  /*クリックできる領域を広げる*/
  color: #6C6C6C;
  padding: 20px 0;
  text-decoration: none;
}

.gnavi li a:hover {
  background-color: #DE553D;
  color: #fff;
}

/*トグルボタンが押されたときに付与するクラス*/
.gnavi.active {
  transform: translateY(0);
}

/* ハンバーガーメニューspan */
.menu-trigger {
  width: 40px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  align-items: center;
  margin-top: 25px;
}

.menu-trigger span {
  display: block;
  width: 15px;
  margin-top: 6px;
  border-bottom: solid 2px #fff;
  border-radius: 4px;
  transition: .35s ease-in-out;
  /*変化の速度を指定*/
}

/* ここがデフォルトのspan設定 */
.menu-trigger span:nth-child(1) {
  transform: rotate(60deg)
}

.menu-trigger span:nth-child(2) {
  margin-top: -2px;
  margin-left: 7px;
  transform: rotate(-60deg)
}

/* 変更後のspan設定 */
.menu-trigger.active span:nth-child(1) {
  transform: rotate(-60deg);
}

.menu-trigger.active span:nth-child(2) {
  margin-left: 7px;
  transform: rotate(60deg);
}


/* サイドバー */

.wrap-bar {
  margin-top: 5%;
  margin-left: 5%;
}

.list {
  margin: 8% 30%;
}

.search {
  margin: 15% auto;
}

#side-bar hr {
  width: 104%;
}

.bar-up {
  margin: 5% 0% 15% 5%;
  font-size: 15px;
  color: #6C6C6C;
}

.count {
  float: right;
  margin-right: 5%;
}


/* ①index */

/* ここからモーダル */
/* 背景 */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(178, 178, 178, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 25%;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  z-index: 2;
}

/* モーダル表示中は背景ページをスクロールさせない */
.no_scroll {
  overflow: hidden;
}

.inner {
  margin: 1% 3%;
}

.edit {
  width: 100%;
  height: 100px;
}

.edit_btn {
  float: right;
  border: none;
  background: transparent;
  margin: 3% 0;
}

#formTweet {
  display: flex;
  height: 70px;
  width: 70%;
  margin: 20px 30px 0 30px;
}

.tweet {
  width: 700px;
  border: none;
  font-size: 18px;
  color: #D7D7D7;
  opacity: 0.5;
  outline: none;
}

.post_btn {
  float: right;
  border: none;
  background: transparent;
}

.formImg {
  height: 50px;
  width: 50px;
  margin-top: 8px;
}


/* ②search */
.separate {
  height: 4px;
  background-color: #D7D7D7;
  border: none;
}

#search {
  /* これでtextboxと検索ワードを横並びにする */
  display: flex;
}

.search_form {
  width: 40%;
  margin: 2% 3% 1.5% 8%;
}

.input {
  width: 80%;
  height: 30px;
  margin-right: 5%;
}

.search_btn {
  background-color: #3C4767;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.search_word {
  margin: 3% 0% 1.5% 17%;
}

.search_word p {
  color: #7E7E7E;
}

#result {
  margin: 0 20% 0 8%;
}

.result_user {
  display: flex;
  margin: 5% 0%;
}

.result_username {
  margin: 5px 3%;
  color: #7E7E7E;
}

.follow {
  margin-left: auto;
  background-color: #7895D7;
}

.unfollow {
  background-color: #B95556;
  margin-left: auto;
}

.result_img {
  width: 80px;
}


/* ③followList,followerList */
#followImg {
  width: 90%;
  margin: 3% auto;
}

.listHeader {
  font-size: 30px;
}

.viewImg {
  margin: 3% 5%;
}

.mrg_img {
  margin: 8px;
}


/* ④profile */
.update {
  background-color: #7B9979;
  border: none;
  margin-left: 180px;
}

.wrap_form {
  display: flex;
  margin: 5% 15% 0 15%;
  width: 20%;
}

.profileImg {
  height: 50px;
}

.profile_box2 {
  margin-right: 10%;
}

.profile_box4 {
  width: 300px;
  display: inline-block;
  white-space: nowrap;
}

.profile_tag {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 50px;
}

.adjust {
  margin-top: 30%;
}

.profile_form {
  width: 300px;
  font-size: 25px;
  color: #6C6C6C;
  margin-bottom: 10%;
  border: none;
  border-bottom: 1px solid #707070;
  background-color: #F2F2F2;
  outline: none;
}

.bio {
  height: 4em;
  font-size: 20px;
  vertical-align: top;
}

.form_file {
  font-size: 15px;
  width: 350px;
  height: 130px;

}

.btn_follow {
  margin: 30% 0 0 180%;
}

@media screen {
  #filename {
    display: none;
  }
}

.browse_btn {
  padding: 6px;
  background: #FFFFFF;
  border-radius: 5px;
  position: absolute;
  margin-left: -240px;
  margin-top: 50px;
  color: #6C6C6C;
}
